body {
  background: #000000;
  font-family: "Epilogue", sans-serif;
}

.header-lower {
  position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
}

.header-lower::after {
  content: ""; /* Obligatorio para pseudo-elementos */
  position: absolute;
  bottom: 0; /* Alinea el pseudo-elemento al borde inferior */
  left: 0;
  width: 100%; /* Ocupa el ancho completo */
  height: 1px; /* Altura del "borde" */
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(43, 42, 42) 52.07%,
    rgba(255, 255, 255, 0) 100%
  );
}

.footer-upper {
  position: relative;
}

.footer-upper::after {
  content: ""; /* Obligatorio para pseudo-elementos */
  position: absolute;
  top: 0; /* Alinea el pseudo-elemento al borde superior */
  left: 0;
  width: 100%; /* Ocupa el ancho completo */
  height: 1px; /* Altura del "borde" */
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgb(43, 42, 42) 52.07%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* -------------------------------- Contact -------------------------------- */

.input-box {
  box-sizing: border-box;
}

.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  resize: none;
}

.input-box .input-field label {
  position: absolute;
  top: 10px;
  pointer-events: none;
  transition: 0.5s;
}

.input-field .input:focus,
.input-field .input:valid {
  border-bottom: 1px solid #5d5076;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  top: -15px;
  color: #5d5076;
}

.input-field textarea:focus ~ label,
.input-field textarea:valid ~ label {
  top: -28px;
}
